:root {
  font-family: UbuntuMono;
}

@font-face {
  font-family: "UbuntuMono";
  src: url(fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "UbuntuMono";
  src: url(fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf);
  font-weight: bold;
}

